<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MS Classroom</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/app.css">
  <style>
    body {
        background: rgba(0, 0, 0, 0.24);
        background-size: cover
}
</style>
<script>$(document).ready(function () {
    $("#test").CreateMultiCheckBox({ width: '230px',
               defaultText : 'Select Below', height:'250px' });
  });</script>
</head>
<body style = "background:url(../images/classs.jpg); background-size: cover;">
  <%- include('../partials/proffnav') %>
<div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="login-form" style="margin-top: 0;">
    <form action="/changePasswordProff" method = "post" style="margin-top: 100;">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="password" name = "oPassword" placeholder="Old Password" autocomplete="nope" required>
        </div>
        <div class="input-field">
          <input type="password" name = "nPassword" placeholder="New Password" autocomplete="nope" required>
        </div>
        <div class="input-field">
          <input type="password" name = "cPassword" placeholder="Confirm Password" autocomplete="nope" required>
        </div>
      </div>
      <div class="action">
        <button type="submit" style = " background-color: rgb(18, 18, 19);">Submit</button>
        <button  onclick="href='/studentHome'" style = " background-color: rgb(122, 122, 124);">Cancel</button>
      </div>
    </form>
  </div>
</div>
<!-- partial -->
<!---  <script  src="../js/login.js"></script> -->
<script  src="../js/class.js"></script>
</body>
</html>
