<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/app.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div>
<nav class="navbar">
  <div class="max-width">
      <div class="logo"><a href="#">MS Class<span>room</span></a></div>
      <ul class="menu">
            <li><a href="/home" class="menu-btn">Home</a></li>
            <li><a href="#skills" class="menu-btn">Register</a></li>
            <li><a href="/login" class="menu-btn">Login</a></li>
            <li><a href="#contact" class="menu-btn">Contact</a></li>
      </ul>
      <div class="menu-btn">
          <i class="fas fa-bars"></i>
      </div>
<!-- partial -->
  <script  src="../js/login.js"></script>
    </div>    </nav></div>
</body>
</html>
